/*base doc stuff*/
:root{
    --white: white;
    --black: #03071e;
    --light-green: #e7f8b2;
    --mid-green: #CDE77F;
    --green: #709176;
    --box-shadow:0 3px 8px rgba(24, 24, 24, 0.185);
    --border: 2px solid rgba(0, 0, 0, 0.061);
    --outline:5px solid #e7f8b2;
    --outline-hover: 5px solid var(--mid-green);
}
/* affects every HTML element */
*{
    font-family: 'Lato', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border: none; 
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 100%;
    overflow-x: visible;
    scroll-behavior: smooth;
    scroll-padding-top: 70;
}
body{
    background: var(--white);
    font-size: 90%;
}

/*nav bar stuff*/
nav {
    position:fixed;
    top: 0; 
    left: 0; 
    right: 0;
    background-color: #709176;
    padding: 10px;
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    display:flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav a img{
    height: 50px;
    float: left;
    padding-right: 10px;
    display: flex;
}
nav i{
    color: #e7f8b2;
    padding-left:10px;
    padding-top: 10px;
}
nav .drop_main{
    position:relative;
    display: block;
}
nav .drop_main .drop_cat{
    display:none;
    position: relative;
    background-color:rgb(238, 238, 238);
    min-width: 200px;
    z-index: 1;
    padding: 15px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
nav .drop_main .drop_cat a{
    color:#709176;
    padding : 5px;
    padding-bottom: 5px;
    padding-right:10px;
    padding-left: 10px;
    width:200px;
    text-decoration: none;
    display:flex;
}
nav .drop_main .drop_cat a:hover{
    background-color: #CDE77F;
    
    font-weight: bold;
}
nav .drop_main:hover .drop_cat{
    display: block;
}

nav .drop_main .drop_cat .drop_sub1{
    display: none;
    position: relative;
    background-color:rgb(238, 238, 238);
    width: 200px;
    z-index: 1;
    text-decoration: none;
}
nav .drop_main .drop_cat .drop_sub1 a{
    color:#709176;
}
nav .drop_main .drop_cat .drop_sub1 a:hover{
    font-weight: bold;
    background-color: #CDE77F;
}
nav .drop_main .drop_cat:hover .drop_sub1{ 
    display:block;
}

nav .other_items{
    padding-top:8px;
    display: flex;
    float:right;  
}
nav .other_items a{
    text-decoration: none;
    color:#e7f8b2;
}
nav .other_items a:hover{
    color:white;
    font-weight: bold;
}
nav .other_items i:hover{
    color: white;
}


  .heading{
    top: 200px;
    height: 19%;
    left:50%;
    right:50%;
    padding: 3%;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 250%;
    font-weight: bolder;
    background-color: #CDE77F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#709176;
}
.products {
    top: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

.box{
    display: block;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
    padding: 30px 10px;
    outline-offset: -15px;
    outline: var(--outline);
    width: 360px;
    height: 400px;
    align-items: center;
    margin: 8px;
    margin-top: 4%;
        /*
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    */
}

.box:hover{
    outline-offset: 0px;
    outline: var(--outline-hover);
}

.products .box img{
    height: 200px;
}

.products .box h3{
    font-size: 20px;
    color: var(--black);
}

.products .box .price{
    font-size: 16px;
    color: var(--black);
    padding-inline: 10px;
}

.products .box .star_rating i{
    font-size: 20px;
    color: var(--green);
    padding: 10px 5px;
}

.cart-button{
    background-color: var(--light-green);
    color: var(--green);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.cart-button:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
}

.links{
    color: var(--black);
}

.links:hover{
    color: var(--green);
    text-decoration: underline;
}

.quantity{
    border-style: solid;
    border-color: #CDE77F;
    width: 15%;
}