/*base doc stuff*/
:root {
  --white: #fff;
  --black: #03071e;
  --light-green: #e7f8b2;
  --mid-green: #cde77f;
  --green: #709176;
  --box-shadow: 0 3px 8px rgba(24, 24, 24, 0.185);
  --border: 2px solid rgba(0, 0, 0, 0.061);
  --outline: 5px solid #e7f8b2;
  --outline-hover: 5px solid var(--mid-green);
}
/* affects every HTML element */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
html {
  font-size: 100%;
  overflow-x: visible;
  scroll-behavior: smooth;
  scroll-padding-top: 70;
}
body {
  background: var(--white);
  font-size: 90%;
}

/*nav bar stuff*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #709176;
  padding: 10px;
  width: 100%;
  height: 70px;
  padding: 10px 10px;
  display: flex;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
nav a img {
  height: 50px;
  float: left;
  padding-right: 10px;
  display: flex;
}
nav i {
  color: #e7f8b2;
  padding-left: 10px;
  padding-top: 10px;
}
nav .drop_main {
  position: relative;
  display: block;
}
nav .drop_main .drop_cat {
  display: none;
  position: relative;
  background-color: rgb(238, 238, 238);
  min-width: 200px;
  z-index: 1;
  padding: 15px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
nav .drop_main .drop_cat a {
  color: #709176;
  padding: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 200px;
  text-decoration: none;
  display: flex;
}
nav .drop_main .drop_cat a:hover {
  background-color: #cde77f;

  font-weight: bold;
}
nav .drop_main:hover .drop_cat {
  display: block;
}

nav .drop_main .drop_cat .drop_sub1 {
  display: none;
  position: relative;
  background-color: rgb(238, 238, 238);
  width: 200px;
  z-index: 1;
  text-decoration: none;
}
nav .drop_main .drop_cat .drop_sub1 a {
  color: #709176;
}
nav .drop_main .drop_cat .drop_sub1 a:hover {
  font-weight: bold;
  background-color: #cde77f;
}
nav .drop_main .drop_cat:hover .drop_sub1 {
  display: block;
}

nav .other_items {
  padding-top: 8px;
  display: flex;
  float: right;
}
nav .other_items a {
  text-decoration: none;
  color: #e7f8b2;
}
nav .other_items a:hover {
  color: white;
  font-weight: bold;
}
nav .other_items i:hover {
  color: white;
}

/*product overview page*/
.heading {
  top: 200px;
  left: 50%;
  right: 50%;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
}
.products {
  top: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: block;
  background: var(--white);
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px;
  outline-offset: -15px;
  outline: var(--outline);
  width: 30%;
  height: 30%;
  align-items: center;
  margin: 8px;
  /*
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    */
}

.box:hover {
  outline-offset: 0px;
  outline: var(--outline-hover);
}

.products .box img {
  height: 200px;
}

.products .box h3 {
  font-size: 20px;
  color: var(--black);
}

.products .box .price {
  font-size: 16px;
  color: var(--black);
  padding-inline: 10px;
}

.products .box .star_rating i {
  font-size: 20px;
  color: var(--green);
  padding: 10px 5px;
}

.cart-button {
  background-color: var(--light-green);
  color: var(--green);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.cart-button:hover {
  outline-offset: 0;
  outline: var(--outline-hover);
}

.links {
  color: var(--black);
}

.links:hover {
  color: var(--green);
  text-decoration: underline;
}

.box-signup {
  display: flexbox;
  background: var(--white);
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px;
  outline: var(--outline);
  width: 30%;
  height: 30%;
  min-height: 100%;
  align-items: center;
  outline-offset: 0px;
  outline: var(--outline-hover);
  margin: 8px;
  /*
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    */
}
@media screen and (max-width: 800px) {
  .box-signup{
    width: 70%;
  }
}

.input-signup {
  border: 0.2em solid;
  border-radius: 5px;
}

.box-signup a {
  color: #03071e;
}

.box-signup a:hover {
  color: #709176;
  text-decoration: underline;
}

.input-line {
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
}

.box-signup input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.box-signup input:hover,
.box-signup input:focus {
  border-color: #709176;
}

.box-signup h3 {
  text-align: left;
  font-weight: 550;
}

button {
  background-color: #709176;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0 5px 5px 0;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  border-radius: 5px 0 0 5px;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.box-signup form button:hover {
  box-shadow: 3px 3px 2px var(--light-green);
}

@media screen and (max-width: 479px) {
  .box-signup {
    height: 600px;
  }
}